@inherits ShadcnBase

@if (HoverCard.ShouldRenderContent)
{
    <div
        data-slot="hover-card-content"
        data-state="@(HoverCard.IsOpen ? "open" : "closed")"
        data-side="@Side.ToString().ToLower()"
        data-align="@Align.ToString().ToLower()"
        @attributes="Props"
        sideOffset="@SideOffset"
        class="@Classes"
    >
        @ChildContent
    </div>
}


@code {
    [CascadingParameter] public HoverCard HoverCard { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public HoverCardSideType Side { get; set; } = HoverCardSideType.Bottom;
    [Parameter] public HoverCardAlignType Align { get; set; } = HoverCardAlignType.Center;
    [Parameter] public int SideOffset { get; set; }

    private string? Classes;

    protected override void OnParametersSet()
    {
        Classes = Cn(
            "bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 w-64 origin-(--radix-hover-card-content-transform-origin) rounded-md border p-4 shadow-md outline-hidden",
            ClassName
        );
    }

}