@using System.Globalization
@using ShadcnBlazor.Interop

@inherits ShadcnBase

@inject PositionService PositionService

@if (HoverCard.ShouldRenderContent)
{
    <div @ref="PositionElement" style="@PositionStyle" class="fixed top-0 left-0 z-50">
        <div
            data-slot="hover-card-content"
            data-state="@(HoverCard.IsOpen ? "open" : "closed")"
            data-side="@Side.ToString().ToLower()"
            data-align="@Align.ToString().ToLower()"
            sideOffset="@SideOffset"
            class="@Classes"
            @onmouseenter="OnMouseEnterAsync"
            @onmouseleave="OnMouseLeaveAsync"
            @attributes="Props">
            @ChildContent
        </div>
    </div>
}


@code
{
    [CascadingParameter] public HoverCard HoverCard { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public PositionSide Side { get; set; } = PositionSide.Bottom;
    [Parameter] public PositionAlignment Align { get; set; } = PositionAlignment.Center;
    [Parameter] public int SideOffset { get; set; } = 8;
    
    internal bool IsInHover { get; private set; }

    private ElementReference PositionElement;
    private string PositionStyle;
    
    private string? Classes;

    protected override void OnParametersSet()
    {
        HoverCard.Content = this;
        
        Classes = Cn(
            "bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 w-64 origin-(--radix-hover-card-content-transform-origin) rounded-md border p-4 shadow-md outline-hidden",
            ClassName
        );
    }

    internal async Task OnOpenedAsync()
    {
        var position = await PositionService.PositionAroundAsync(
            HoverCard.Trigger.TriggerElement,
                PositionElement,
                Side,
                Align,
                SideOffset
        );

        PositionStyle = $"left: {position.X.ToString(CultureInfo.InvariantCulture)}px; top: {position.Y.ToString(CultureInfo.InvariantCulture)}px";

        await InvokeAsync(StateHasChanged);
    }

    private async Task OnMouseEnterAsync()
    {
        IsInHover = true;
        await HoverCard.OnMouseEnterAsync();
    }

    private async Task OnMouseLeaveAsync()
    {
        IsInHover = false;
        await HoverCard.OnMouseLeaveAsync();
    }
}