@page "/installation"
@using ShadcnBlazor.Cards
@using ShadcnBlazor.Test.UI.Components

<h2 class="text-2xl font-bold">Installation</h2>
<div class="text-muted-foreground text-lg">Installing ShadcnBlazor is easy. Here are the installation steps</div>

<Card ClassName="mt-8">
    <CardHeader>
        <CardTitle>Installing Tailwind</CardTitle>
    </CardHeader>
    <CardContent>
        1. Create a folder called Styles in your blazor project.<br />
        2. Open a terminal in this folder and run initialize a new nodejs project.<br />
        
        <Card ClassName="my-2.5 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="bash" Content="@NpmInitContent" />
            </CardContent>
        </Card>

        3. Now run the following command to install tailwind and postcss.<br />
        
        <Card ClassName="my-2.5 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="bash" Content="@NpmInstallPostcssContent" />
            </CardContent>
        </Card>

        4. Then create a file called postcss.config.mjs and fill in the following content:<br />
        
        <Card ClassName="my-3 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="javascript" Content="@PostCssContent" />
            </CardContent>
        </Card>
    </CardContent>
</Card>

<Card ClassName="mt-8">
    <CardHeader>
        <CardTitle>Installing ShadcnBlazor</CardTitle>
    </CardHeader>
    <CardContent>
        1. Install the shadcnblazor npm package<br />
        
        <Card ClassName="my-2.5 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="bash" Content="@InstallNpmContent" />
            </CardContent>
        </Card>

        2. Then use your IDE's Nuget Explorer or the following command to install the nuget package <code class="italic">ShadcnBlazor</code>
        
        <Card ClassName="my-2.5 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="bash" Content="@InstallNugetContent" />
            </CardContent>
        </Card>
    </CardContent>
</Card>

<Card ClassName="mt-8">
    <CardHeader>
        <CardTitle>Adding base style & building styles</CardTitle>
    </CardHeader>
    <CardContent>
        1. Create the main styles file called <code class="italic">styles.css</code> in the <code class="italic">Styles</code> folder with the following content:<br/>
        
        <Card ClassName="my-3 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="css" Content="@StylesContent" />
            </CardContent>
        </Card>
        
        2. Add a link tag to your generated style sheet into the head section of your index.html. <br/>
        
        <Card ClassName="my-3 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="html" Content="@HtmlContent" />
            </CardContent>
        </Card>
        
        3. And finally you can run the postcss build command (while being in the Styles folder).<br/>
        You need to leave this running in the background when developing at your application in order for tailwind to rebuild your styles.<br/>
        
        <Card ClassName="my-2.5 p-1">
            <CardContent ClassName="px-0">
                <Highlight Language="bash" Content="@BuildCommandContent" />
            </CardContent>
        </Card>
    </CardContent>
</Card>

@code
{
    private const string PostCssContent = "export default {\n  plugins: {\n    \"@tailwindcss/postcss\": {},\n  }\n}";
    private const string StylesContent = "@import \"tailwindcss\";\n@import \"tw-animate-css\";\n\n@import \"./node_modules/shadcnblazor/scrollbar.css\";\n@import \"./node_modules/shadcnblazor/default-theme.css\";\n@source \"./node_modules/shadcnblazor/classes.json\";\n\n@source \"../**/*.razor\";\n@source \"../**/*.cs\";\n@source \"../**/*.html\";\n\n@custom-variant dark (&:is(.dark *));\n\n#blazor-error-ui {\n    display: none;\n}\n\n@layer base {\n    * {\n        @apply border-border outline-ring/50;\n    }\n    body {\n        @apply bg-background text-foreground;\n    }\n}";
    private const string InstallNugetContent = "dotnet add package ShadcnBlazor";
    private const string InstallNpmContent = "npm install shadcnblazor";
    private const string NpmInitContent = "mkdir Styles\nnpm init";
    private const string NpmInstallPostcssContent = "npm install tailwindcss @tailwindcss/postcss postcss";
    private const string HtmlContent = "...\n    <link rel=\"stylesheet\" href=\"/style.min.css\"/>\n...";
    private const string BuildCommandContent = "npx postcss styles.css -o ../wwwroot/style.min.cs";
}