@using System.Globalization
@using ShadcnBlazor.Interop

@inherits ShadcnBase

@inject PositionService PositionService

@if (Tooltip.ShouldRenderContent)
{
    <div @ref="PositionElement" style="@PositionStyle" class="fixed top-0 left-0 z-50">
        <div data-slot="tooltip-content" class="@Classes" data-state="@(Tooltip.Open ? "open" : "closed")" data-side="@(Side.ToString().ToLower())">
            @ChildContent
            <span @ref="ArrowElement" style="position: absolute; @ArrowStyle">
                <svg class="z-50 size-2.5 fill-foreground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                    <rect
                        x="50" y="50" width="400" height="400"
                        style="transform-box: fill-box; transform-origin: 50% 50%;"
                        transform="matrix(0.707107, 0.707107, -0.707107, 0.707107, 0.000014, 0.000069)"
                        id="object-0"></rect>
                </svg>
            </span>
        </div>
    </div>
}

@code
{
    [CascadingParameter] public Tooltip Tooltip { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public PositionSide Side { get; set; } = PositionSide.Top;
    [Parameter] public PositionAlignment Align { get; set; } = PositionAlignment.Center;
    [Parameter] public double SideOffset { get; set; } = 12;

    private ElementReference PositionElement;
    private string PositionStyle = "";

    private ElementReference ArrowElement;
    private string ArrowStyle = "";

    private string? Classes;

    protected override void OnParametersSet()
    {
        Tooltip.Content = this;

        Classes = Cn(
            "bg-foreground text-background animate-in fade-in-0 zoom-in-95 data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 w-fit origin-(--radix-tooltip-content-transform-origin) rounded-md px-3 py-1.5 text-xs text-balance",
            ClassName
        );
    }

    internal async Task OnOpenedAsync()
    {
        var position = await PositionService.PositionAroundAsync(
            Tooltip.Trigger.TriggerElement,
            PositionElement,
            Side,
            Align,
            SideOffset
        );

        PositionStyle = $"left: {position.X.ToString(CultureInfo.InvariantCulture)}px; top: {position.Y.ToString(CultureInfo.InvariantCulture)}px";

        var contentBox = await PositionService.GetBoundingBoxAsync(PositionElement);
        var arrowBox = await PositionService.GetBoundingBoxAsync(ArrowElement);

        double left = 0;
        double bottom = 0;

        switch (Side)
        {
            case PositionSide.Top:
                left = contentBox.Width / 2 - arrowBox.Width / 2;
                bottom = 0 - arrowBox.Height / 2 + 2;
                break;

            case PositionSide.Bottom:
                left = contentBox.Width / 2 - arrowBox.Width / 2;
                bottom = contentBox.Height - arrowBox.Height / 2 - 2;
                break;

            case PositionSide.Left:
                bottom = contentBox.Height / 2 - arrowBox.Height / 2;
                left = contentBox.Width - arrowBox.Width / 2 - 2;
                break;
                
            case PositionSide.Right:
                bottom = contentBox.Height / 2 - arrowBox.Height / 2;
                left = 0 -arrowBox.Width / 2 + 2;
                break;
        }

        ArrowStyle = $"left: {left.ToString(CultureInfo.InvariantCulture)}px; bottom: {bottom.ToString(CultureInfo.InvariantCulture)}px;";

        await InvokeAsync(StateHasChanged);
    }
}